{%- if include.tag %}
{%- assign tools = site.data.resources | add_related_pages | where:"related_pages", include.tag  | sort_natural: "name" %}
{%- else %}
{%- assign tools = site.data.resources | add_related_pages  | sort_natural: "name" %}
{%- endif %}
{%- assign country_pages = site.pages | where_exp: "item", "item.search_exclude != true" | where_exp:"item","item.national_resources != nil" %}
{%- unless tools.size == 0 or tools == nil %}
<a class="visually-hidden-focusable" href='#skip-tool-table'>Skip tool table</a>
<div class="table-responsive mt-4 mb-5">
    <table class="tooltable table display">
        <thead>
            <tr class="text-nowrap">
                <th>WfMS</th>
                <th>Links to related information {%- if include.tag -%}
                    <a data-bs-toggle="tooltip" data-bs-original-title="Links">
                        <i class="fa-solid fa-info-circle"></i>
                    </a>{%- endif %}
                </th>
            </tr>
        </thead>
        <tbody>
            {%- for tool in tools %}
            <tr>
                {% if tool.url %}
                <td><a href="{{tool.url}}">{{tool.title}}</a></td>
                {%- else %}
                <td>{{tool.title}}</td>
                {%- endif %}
                <td>
                    {%- if tool.registry.url_community %}
                    <a data-bs-toggle="tooltip" data-bs-original-title="Community" href="{{tool.url_community}}"><span class="badge bg-dark text-white hover-primary"><i class="fa-solid fa-info me-2"></i>Community</span></a>
                    {%- endif %}
                    {%- if tool.registry.url_community_workflows %}
                    <a data-bs-toggle="tooltip" data-bs-original-title="Community workflows" href="{{tool.url_community_workflows}}"><span class="badge bg-dark text-white hover-primary"><i class="fa-solid fa-database me-2"></i>Community workflows</span></a>
                    {%- endif %}
                </td>
            </tr>
            {%- endfor %}
        </tbody>
    </table>
</div>
{%- endunless %}
<div id="skip-tool-table"></div>