/*-----Top navigation-----*/
$topnav-bg: $light;
$topnav-title-color: $primary;
$topnav-brand-height: 80px;

/*-----Section navigation tiles-----*/
$nav-card-bg: $primary;
$nav-card-color: $light;
$nav-card-bg-hover: $primary;
$nav-card-color-hover: $white;
