/*-----Navigation tiles-----*/
/*-----From https://github.com/elixir-europe/infectious-diseases-toolkit/blob/main/_sass/_custom_classes.scss-----*/

.navigation-tiles {

    .card-body {
        h3 {
            color: $dark;
            font-size: 1.2rem;
        }
    }
}

/*-----Top navigation-----*/
header .navbar {
    .navbar-brand {
        padding-top: 0;
        padding-bottom: 0;

        img {
            @media (max-width: 992px) {
                height: 67px;
            }
        }
    }
    .navbar-nav .nav-item > a.active {
        color: $white;
        background-color: $primary;
        border-radius: $border-radius;
    }
}

/*-----Sidebar-----*/
#menu li.parent.active li.parent.active > a {
    background-color: tint-color($sidebar-bg-active, 80%);
    color: $sidebar-color;
}

#side-nav .btn.sidebar-title  {
    border-bottom: 0.2rem solid $primary;
    font-weight: bold;
    padding-bottom: $input-btn-padding-y - 0.2rem;
}

#side-nav > ul {
    margin-top: $spacer * 0.5;
}

/*-----News and events-----*/

.events > ul > li,
.news > ul > li {
    margin: 10px 0px;
}

// News section front-page

.news-sidebar {
    background-color: $light;

    .news-item {
        padding: 7px 11px;
        position: relative;
        a:not(.stretched-link), button:not(.stretched-link) {
            z-index: 2;
            position: relative;
        }
        .clean-md {
            p {
                margin-bottom: 0;
            }
        }
    }

    .news-hover:hover {
        text-decoration: none;
        background-color: $primary;
        color: $white;
        a.stretched-link {
            color: $white;
        }
    }

    h2 {
        font-size: 1.6em;
        font-weight: 700;
        color: $primary;
        padding: 7px 11px;
    }
}


/*-----Custom landing page-----*/

@media (max-width: 992px) {
    .sidebar-col {
        order: 2;
    }
    .content-col {
        order: 1;
    }
}


/*-----buttons that collapse-----*/

.btn-collapse {
    overflow-wrap: anywhere;
    padding: 5px 5px 5px;
    margin: 8px;
    border-radius: 4px;
    border: outset;
    background-color: $primary;
    color: white;
}