<!doctype html>
<html lang="en">
{% include head.html %}
<body>
    {% include topnav.html %}
    <!-- Page Content -->
    <div class="container min-vh-100">
        <!-- Content Row -->
        <div class="row gx-0 gx-lg-5">
            <!-- Sidebar Column -->
            <div class="col-lg-3 {% if page.hide_sidebar %}sidebar-col{% endif %}">
                {%- unless page.hide_sidebar %}
                {% include sidebar.html %}
                {%- else %}
                <h3>News</h3>
                {% include news.html limit=3 %}
                <p><small>For more news please visit our <a href="{{'/project/news' | relative_url }}">news page</a>.</small></p>
                <h3 class="mt-5">Events</h3>
                {% include events.html event_type="upcoming_event" truncate=true %}
                <p><small>See the full list of events, including past events, on the <a href="{{'/project/events' | relative_url }}">events</a> page.</small></p>
                {%- endunless %}
            </div>
            <!-- Content Column -->
            <div class="col-lg-9 {% if page.hide_sidebar %}content-col{% endif %}">
                {{content}}
            </div>
        </div>
    </div>
    {%- if site.theme_variables.back_to_top or site.theme_variables.back_to_top == nil %}
    <button id="back-to-top" class="btn btn-primary text-white" type="button" aria-hidden="true" onclick="topFunction()">
        <i class="fa-solid fa-arrow-up"></i><span class="ms-2 d-none d-sm-inline">Back to top</span>
    </button>
    {%- endif %}
    {% include footer.html %}
    {% include cookie-popup.html %}
</body>
</html>